* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 14px;
}

body {
    height: 100%;
    color: #333;
    min-width: 1240px;
    font: 1em/1.4 'Microsoft Yahei', 'PingFang SC', 'Avenir', 'Segoe UI', 'Hiragino Sans GB', 'STHeiti', 'Microsoft Sans Serif', 'WenQuanYi Micro Hei', sans-serif
}

/* 容器宽度 */
.container {
    width: 1240px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

/* 取消ul边距 li的默认样式 */
ul {
    padding: 0;
}

li {
    list-style: none;
    display: flex;
}

/* 弹性布局 */
.df {
    display: flex;
    align-items: center;
}


/* 图片 */
img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

/* 省略号 */
.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ellipsis-2 {
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

/* a标签 */
a {
    text-decoration: none;
    color: #333;
}